body{
    font-family: 'Roboto', sans-serif;
}


nav{
    font-weight: bold;
    font-size: 20px;
}

header{
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-position: center;
}

.identificacion{
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 20px;  
    font-weight: bolder;
}

header p {
    font-size: 20px;
}

main {
    display: flex;
    justify-content: space-around;
    margin: 120px 20px 200px 20px;
    
}

.educacion{
    transition: 1s all;
}

.educacion:hover{
    transform: scale(1.7);
}

.experiencia{
    transition: 1s all;
}

.experiencia:hover{
    transform: scale(1.7);
}

footer {
    background-color: #042c54;
    color: white;
    text-align: center;
    font-weight: bolder;
    height: 40px;
    padding-top: 10px;
    
}

footer a {
    text-decoration: none;
    color: white;
}